@font-face {
    font-family: "EliceDigitalBaeum-Bd";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

body {
    width: 640px;
    height: 640px;
    margin: 0;
    background: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    margin: auto;
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 30pt;
    background-color: #0009;
    border-radius: 8px;
}

.kraken-main {
    position: fixed;
    width: 640px;
    height: 640px;
    display: flex;
    top: 0;
    left: 0;
}

th, td {
    text-align: center;
    padding: 2px;
    color: #fff;
}

.day-of {
    border-bottom: 2px solid white;
}

td {
    height: 10px;
}

.month {
    color: #fff;
    font-family: "EliceDigitalBaeum-Bd";
    text-align: center;
    margin: auto;
    background-color: #0007;
    width: 240px;
    border-radius: 0 0 6px 6px;
}

.month > .number {
    margin: -14pt 0;
    font-size: 56pt;
}

.month > .script {
    margin-top: -10pt;
    padding: 0 0 4pt 0;
    font-size: 24pt;
}

.today {
    color: #000;
    font-weight: bolder;
    background-color: silver;
    border-radius: 8px;
}

.circle {
    width: 640px;
    height: 640px;
    background-color: #f006;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

.Saturday {
    color: #0af;
}

.rest {
    color: #F33;
}

.info {
    bottom: -144px;
    font-size: 64pt;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 100%;
    display: flex;
    position: fixed;
    font-family: Suit;
}

.info > div {
    width: 240px;
    height: 240px;
    padding-top: 10px;
    border-width: 4px;
    border-radius: 50%;
    margin: auto;
    background-color: powderblue;
    color: mediumblue;
    border-color: mediumblue;
    border-style: solid;
}

@media screen and (max-width: 320px) {
    body {
        width: 320px;
        height: 320px;
    }

    .kraken-main {
        width: 320px;
        height: 320px;
    }

    .circle {
        width: 320px;
        height: 320px;
    }

    table {
        width: 250px;
        font-size: 15pt;
    }

    .month {
        width: 120px;
    }

    .month > .number {
        margin: -6pt 0;
        font-size: 28pt;
    }

    .month > .script {
        margin-top: -20pt;
        padding: 10pt 0 2pt 0;
        font-size: 12pt;
    }

    .info {
        bottom: -72px;
        font-size: 32pt;
    }

    .info > div {
        width: 120px;
        height: 120px;
        padding-top: 5px;
        border-width: 2px;
    }
}
